{% extends 'base.html' %}

{% block content %}
<div class="container my-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-success mb-3">تم تغيير كلمة السر بنجاح!</h3>
                    <p class="card-text mb-4">يمكنك الان استخدام كلمة السر الجديدة لتسجيل الدخول.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary w-100">تسجيل الدخول الآن</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}